html, body {
  background-color: #FF45DD;
  color: black;
  font-family: "Jersey 10", sans-serif;
  margin: 0;
  overflow-x: hidden;
  font-size: 30px;
}

.slider{
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  height: 100vh;
  widht: 100vw;
}

.slide{
  min-width: 100vw;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
}

.principal {
  background-image: url("fundo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  top: 0;
  left: 0;
  align-items: flex-start;
  text-align: center;
  display: flex;
  width: 100%;
  min-height: 100vh;
  position: relative;
  justify-content: center;
  flex-direction: column;
  font-weight: 400;
  font-style: normal;
  color: #DB108D;
  font-size:30px;
}


.botao {
  background-color: #DB108D;
  border-radius: 5px;
  padding: 1em;
  color: white;
  display: block;
  font-size: 20px;
  text-decoration: none;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 50px;
  width: 90vh;
}



.botao2{
  background-color: transparent;
  border: solid 2px #DB108D;
  border-radius: 5px;
  padding: 1em;
  color: white;
  display: block;
  font-size: 20px;
  text-decoration: none;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 50px;
  width: 90vh;
}

.botao:hover {
  background-color: #A00665;
  color: #FF4ABA;
}


.botao2:hover {
  background-color:#FF4ABA;
  color: #A00665;
}

.imagem {
  height: 220px;
  margin-left: 50px;
}


.aviso {
  color: grey;
  font-size: 13px;
  margin-left: 300px;
}

.titulo {
  width: 100%;
  max-width: 1000px;
  margin-left: 30px;
}
.container{
  height: 100vh;
  display: grid;
  grid-template-columns: 55% 50% 50%
}

.menu{
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.menutitulo{
  color: white;
  font-size: 50px;
  margin-bottom: 20px;
  text-decoration: double;
  text-align: center;
}

.menuitem{
  display: flex;
  align-items: center;
  background-color: #A00665;
  border-radius: 8px;
  box-shadow: 0 4px 8px#C00E7D;
  overflow: hidden;
}

.menuimagem{
  width: 280px;
  height: 380px;
  object-fit: cover;
}

.menuinfo{
  padding: 20px;
}

.itemmenu{
  font-size: 25px;
  color:#FF8FD4;
}

.descricao2{
  font-size: 20px;
  color: white;
  text-align: justify;
  font-family: "Bebas Neue", sans-serif;
}

.preco{
  font-size: 20px;
  color:  #46022C;
  font-weight: bold;
  text-decoration: none;
}

/*PÁGINA 3*/

.titulo2{
  font-size: 45px;
  color: white;
  margin-bottom: 1em;
  text-align: center;
  font-family: "Jersey 10", sans-serif;
}

.secundario{
  align-items: center;
  margin: 0 1em;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 80px;
  margin-top: 60px;
}

.descricao{
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  font-size: 25px;
  color: white;
}

.imagem2{
  width: 500px;
}

/*PÁGINA FINAL */

.titulo3 {
  font-weight: 700;
  font-size: 45px;
  color: white;
  margin-bottom: 1em;
  text-align: center;
}

.dispositivos{
  text-align: center;
  margin-top: 60px;
}

.dispositivos img{
  height: 100px;
  padding: 0 50px;
}

.item{
  font-size: 32px;
  color: white;
  padding: 0 50px;
}

.lista, .rodapelista{
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-top: 1em;
  font-family: "Bebas Neue", sans-serif;
}

.listalink a{
  text-decoration: none;
  color: white;
  font-size: 12px;
  margin-left: 1em;
}

.listalink:hover{
  color:  #46022C;
}

.rodapetexto{
  margin: 1em 0;
  color:  #46022C;;
  font-size: 15px;
}

.logo2{
  height: 100px;
}

.listalink a:active{
  color:  #46022C;
}

.rodape{
  text-align: center;
  margin: 5em 3em;
}

#pag3 {
  background-color: #FF7CE7;
}
